@model CheckOutVM

@{
	Layout = null;
}

@{
	decimal totalCart = Model.Carts.Sum(x => x.Quantity * x.ProductPrice);
	decimal shippingFee = 50;
	if (totalCart >= ViewBag.ShippingFee)
	{
		shippingFee = 0;
	}
}

<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Ödeme Sayfası</title>
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="/checkout/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/checkout/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/checkout/css/flaticon.css" />
	<link rel="stylesheet" href="/checkout/css/slicknav.min.css" />
	<link rel="stylesheet" href="/checkout/css/jquery-ui.min.css" />
	<link rel="stylesheet" href="/checkout/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="/checkout/css/animate.css" />
	<link rel="stylesheet" href="/checkout/css/style.css" />


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<!-- Page info -->

	<div class="page-top-info">
		<div class="container">
			<h4>Your cart</h4>
			<div class="site-pagination">
				<a href="/">Ana Sayfa</a> <br />

				<a>Sepetin</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->
	<!-- checkout section  -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 order-2 order-lg-1">
					<form class="checkout-form" asp-controller="Cart" asp-action="CheckOut" method="post">
						<input asp-for="@Model.Order.ShippedFee" value="@shippingFee" type="hidden" />
						<div class="cf-title">Kişisel Bilgiler</div>
						<div class="row address-inputs">
							<div class="col-md-12">
								<input type="text" asp-for="@Model.Order.NameSurname" placeholder="Adı Soyadı">
							</div>
							<div class="col-md-6">
								<input type="text" asp-for="@Model.Order.MailAddress" placeholder="Mail Adresi">
							</div>
							<div class="col-md-6">
								<input type="text" asp-for="@Model.Order.Phone" placeholder="İrtibat Telefonu">
							</div>
						</div>

						<div class="cf-title">Teslimat Bilgileri</div>
						<div class="row address-inputs">
							<div class="col-md-12">
								<input type="text" asp-for="@Model.Order.Address" placeholder="Adres Bilgisi">
							</div>
							<div class="col-md-6">
								<input type="text" asp-for="@Model.Order.Country" placeholder="Ülke">
							</div>
							<div class="col-md-6">
								<input type="text" asp-for="@Model.Order.City" placeholder="Şehir">
							</div>
							<div class="col-md-6">
								<input type="text" asp-for="@Model.Order.Distinct" placeholder="İlçe">
							</div>
							<div class="col-md-6">
								<input type="text" asp-for="@Model.Order.ZipCode" placeholder="Posta Kodu">
							</div>
						</div>


						<div class="cf-title">Ödeme Seçenekleri</div>
						<div class="col-md-12">
							<select class="selectPaymentOption form-control" asp-for="@Model.Order.PaymentOption" asp-items="@Html.GetEnumSelectList<EPaymentOption>()" onchange="funcSelectPaymentOption(this)">
								<option value="">Bir Ödeme Seçeneği Belirtin</option>
							</select>
						</div>
						<div class="col-md-12">
							<div class="divPaymentOption creditCard">
								<h5>Kredi Kartı ile Ödeme</h5>
								<div class="row">
									<div class="col-md-6">
										<input type="text" placeholder="Kredi Kartı Numarası" asp-for="@Model.Order.CardNumber" />
									</div>
									<div class="col-md-6">
										<input type="text" placeholder="Kredi Kartı Sahibi" />
									</div>
									<div class="col-md-4">
										<select class="form-control" asp-for="@Model.Order.CardMonth">
											@for (int i = 1; i < 12; i++)
											{
												<option>@i</option>
											}
										</select>
									</div>
									<div class="col-md-4">
										<select class="form-control" asp-for="@Model.Order.CardYear">
											@for (int i = DateTime.Now.Year; i < DateTime.Now.AddYears(10).Year; i++)
											{
												<option>@i</option>
											}
										</select>
									</div>
									<div class="col-md-4">
										<input type="text" asp-for="@Model.Order.CardCv2" placeholder="Kredi Kartı Cv2" />
									</div>
								</div>
							</div>

							<div class="divPaymentOption bank">
								<h5>Havale / EFT ile Ödeme</h5>

								<p>
									Havale ile ödemelerde açıklama kısmına sipariş numarası göndermeyi unutmayınız...
								</p>
							</div>

							<div class="divPaymentOption door">
								<h5>Kapıda Kredi Kartı / Nakit Ödeme</h5>
								<p> Kapıda Ödeme İşlemlerinde İade Kargo Ücreti Alıcıya Aittir...</p>
							</div>

						</div>

						<button onclick="checkoutControl()" type="submit" class="site-btn submit-order-btn">Alışverişi Tamamla</button>

						@Html.AntiForgeryToken()

					</form>
				</div>
				<div class="col-lg-4 order-1 order-lg-2">
					<div class="checkout-cart">
						<h3>Sepetim</h3>
						<ul class="product-list">
							@foreach (Cart c in Model.Carts)
							{
								<li>
									<div class="pl-thumb"><img src="@c.ProductPicture" alt="@c.ProductName"></div>
									<h6>@c.ProductName</h6>
									<p>₺@c.ProductPrice x @c.Quantity</p>
									<p>Toplam = @(c.ProductPrice * c.Quantity) ₺ </p>
								</li>
							}

						</ul>
						<ul class="price-list">
							<li>Toplam<span> @totalCart</span></li>
							<li>
								Kargo Ücreti
								@if (shippingFee == 0)
								{
									<span>Kargo Bedava</span>

								}
								else
								{
									<span> @shippingFee</span>
								}
							</li>
							<li class="total">Toplam Ücret<span>₺ @(totalCart + shippingFee)</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- checkout section end -->
	<!--====== Javascripts & Jquery ======-->
	<script src="/checkout/js/jquery-3.2.1.min.js"></script>
	<script src="/checkout/js/bootstrap.min.js"></script>
	<script src="/checkout/js/jquery.slicknav.min.js"></script>
	<script src="/checkout/js/owl.carousel.min.js"></script>
	<script src="/checkout/js/jquery.nicescroll.min.js"></script>
	<script src="/checkout/js/jquery.zoom.min.js"></script>
	<script src="/checkout/js/jquery-ui.min.js"></script>
	<script src="/checkout/js/main.js"></script>

</body>
</html>

