@model List<Cart>
<body class="animsition">
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			<span class="stext-109 cl4"></span>
		</div>
	</div>

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Ürün</th>
									<th class="column-2"></th>
									<th class="column-3">Fiyat</th>
									<th class="column-6"></th> <!-- Delete column -->
									<th class="column-4">Miktar</th>
									<th class="column-5">Toplam</th>
								</tr>
								@foreach (Cart c in Model)
								{
									<tr class="table_row">
										<td class="column-1">
											<div class="how-itemcart1">
												<img src="@c.ProductPicture" alt="IMG">
											</div>
										</td>
										<td class="column-2">@c.ProductName</td>
										<td class="column-3">@c.ProductPrice ₺</td>
										<td class="column-6">
											<a><i onclick="removeCart(@c.ProductID)" class="fa fa-trash removeIcon" style="color:red"></i></a>
										</td>
										<td class="column-4" style="vertical-align: middle;">
											<div class="wrap-num-product flex-w m-l-auto m-r-0">
												<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
													<i class="fs-16 zmdi zmdi-minus"></i>
												</div>
												<input data-price="@c.ProductPrice" class="mtext-104 cl3 txt-center num-product small" type="number" name="num-product1" value="@c.Quantity">
												<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
													<i class="fs-16 zmdi zmdi-plus"></i>
												</div>
											</div>
										</td>
										<td class="column-5">@(c.ProductPrice * c.Quantity) ₺</td>
									</tr>
								}
							</table>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Sepet Toplamı
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-209">
								<span class="mtext-110 cl2" id="cart-total">
									@Model.Sum(x => x.Quantity * x.ProductPrice) ₺
								</span>
							</div>
						</div>

						<a asp-controller="Cart" asp-action="CheckOut" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Ödeme Sayfası
						</a>
						<br />
						<a href="" class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">
							Alışverişe Devam Et
						</a>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>
