@model CategoryVM

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ürünler</title>
</head>

<body class="animsition">
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			<span class="stext-109 cl4"></span>
		</div>
	</div>

	<br />
	<!-- Ürünler -->
	<div class="container">
		<div class="row">
			@foreach (var product in Model.Product)
			{
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<div class="block2">
						<div class="block2-pic hov-img0">
							@if (product.ProductPictures.Any())
							{
								<img src="@product.ProductPictures.FirstOrDefault().Picture" alt="@product.Name">
							}
							else
							{
								<img src="/img/gorsel-hazirlaniyor-1.jpg" alt="@product.Name">
							}
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l">
								<a asp-controller="Product" asp-action="Detail" asp-route-name="@GeneralTools.GetUrl(product.Name)" asp-route-id="@product.ID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									@product.Name
								</a>

								<span class="stext-105 cl3">
									₺@product.Price
								</span>
							</div>

							<div class="block2">
								<a asp-controller="Product" asp-action="Detail" asp-route-name="@GeneralTools.GetUrl(product.Name)" asp-route-id="@product.ID" class="add-card">
									<i class="fa fa-search" aria-hidden="true"></i><span>ÜRÜN DETAYLARI</span>
								</a>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
									<img class="icon-heart1 dis-block trans-04" src="/images/icons/icon-heart-01.png" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="/images/icons/icon-heart-02.png" alt="ICON">
								</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>

	<div class="container">
		<h3>@Model.Category.Name Ürünleri</h3>
	</div>
</body>
</html>
